<header>
  <h1>Barrington Computer Club</h1>
</header>


<style>
  header {
    height: 120px;
    display: grid;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: height .1s ease;
  }

  header:hover {
    height: 150px;
  }

  body {
    padding-top: 120px;
  }
</style>
