---
import MainPage from "../layouts/MainPage.astro";


---

<MainPage title="Page Not Found">

<<<<<<< Updated upstream
  <div class="h-screen mt-44 px-20 w-6/12 mx-auto flex flex-col gap-4">
=======
  <div class="h-screen mt-20 md:mt-44 md:px-20 container md:w-6/12 mx-auto flex flex-col gap-4">
>>>>>>> Stashed changes
    <h2 class="">Page Not Found</h2>

    <p class="text-lg">You got us! We haven't added this content yet. Or perhaps you're trying to get to a URL that doesn't exist.</p>

 
</MainPage>
