---
import { Separator } from "@/components/ui/separator";
import MainPage from "../layouts/MainPage.astro"
import {getCollection} from "astro:content"
import UpcomingEvent from "@/components/upcomingEvent"

const presentations = (await getCollection('presentations')).sort((a, b) => b.data.presentationDate?.getTime() ?? 0 - a.data.presentationDate?.getTime() ?? 0).filter(p => p.data.presentationDate > new Date()) // this won't work with static generation. 
export type UpcomingPresentation = (typeof presentations)[0]

---
<!--TODO: un-mess up dates of events -->
<MainPage title="Upcoming Events">
  <div class="mt-20 md:mt-44 md:px-20 md:w-6/12 container mx-auto flex flex-col gap-4 mb-9">
    <h2 class="">Upcoming Events</h2>

    <p class="text-sm">Future events that will held in club meetings</p>
    <Separator/>


    {presentations.map(p => <UpcomingEvent client:load presentation={p.data} slug={p.slug} />)}
  </div>
</MainPage>
