---
import {Button} from "@/components/ui/button"
import {Badge} from "@/components/ui/badge"

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import MainPage from "../layouts/MainPage.astro"
---

<MainPage title="Barrington Computer Club">
    <div class="flex flex-col items-center justify-center h-screen w-6/12 mx-auto text-center">
      <Badge variant="outline" className="mb-4 font-heading">View Recent Post</Badge>
      <h1 class="mb-8 text-primary">The Computer Club of Barrington High School</h1>
      <p class="text-xl w-7/12 text-center mb-3">Building life-long Computer Science interests in the students of Barrington High School</p>
      <div class="flex flex-row gap-2">
        <a rel="prefetch" href='/events'><Button>Events</Button></a>
        <a rel="prefetch" href="/presentations"><Button variant="outline">Archived Presentations</Button></a>
      </div>
    </div>

    <div class="-mt-20 flex flex-col items-center">
      <h2>About Computer Club</h2>

      <div class="flex flex-row gap-2 mt-4">
        <Card>
          <CardHeader>
            <CardTitle>Background</CardTitle>
            <CardDescription>Card Description</CardDescription>
          </CardHeader>
          <CardContent>
            <p>Card Content</p>
          </CardContent>
          <CardFooter>
            <p>Card Footer</p>
          </CardFooter>
        </Card>


        <Card>
          <CardHeader>
            <CardTitle>Competitions</CardTitle>
            <CardDescription>Card Description</CardDescription>
          </CardHeader>
          <CardContent>
            <p>Card Content</p>
          </CardContent>
          <CardFooter>
            <p>Card Footer</p>
          </CardFooter>
        </Card>

        <Card>
          <CardHeader>
            <CardTitle>Presentations</CardTitle>
            <CardDescription>Card Description</CardDescription>
          </CardHeader>
          <CardContent>
            <p>Card Content</p>
          </CardContent>
          <CardFooter>
            <p>Card Footer</p>
          </CardFooter>
        </Card>
      </div>


    </div>

</MainPage>

