---
import {Button} from "@/components/ui/button"
import {Badge} from "@/components/ui/badge"

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import MainPage from "../layouts/MainPage.astro"
import { getCollection, getEntry } from "astro:content"

const post = (await getCollection("posts")).sort((a, b) => new Date(b.data.postDate ?? 0).getTime() - new Date(a.data.postDate ?? 0).getTime())[0]

function getWordStr(str:String) {
    return str.split(/\s+/).slice(0, 50).join(" ");
}
---

<MainPage title="Barrington Computer Club"}>
  <div class="flex flex-col items-center justify-center h-screen container mx-auto text-center">
    <a transition:name='author' href="https://www.instagram.com/bhscomputerclub/?igshid=MzRlODBiNWFlZA%3D%3D"><Badge variant="outline" className="mb-4 font-heading">Follow along on Instagram!</Badge></a>
    <h1 class="mb-2 md:mb-8 md:w-[800px] text-primary">The Computer Club of Barrington High School</h1>
    <p class="md:text-xl md:w-[700px] text-center mb-3">Building life-long computer science interests in the students of Barrington High School</p>
    <div class="flex flex-row gap-2">
      <a rel="prefetch" href='/events'><Button variant="outline">Events</Button></a>
      <a rel="prefetch" href="/signup"><Button >Sign Up!</Button></a>

    </div>
  </div>

  <div class="-mt-20 flex flex-col items-center container">
    <h2>About Computer Club</h2>
    <h3>↓</h3>
    <div class="flex md:flex-row flex-col gap-2 mt-4 md:w-10/12">
      <Card>
        <CardHeader>
          <CardTitle>Background</CardTitle>
          <!-- <CardDescription>Card Description</CardDescription> -->
        </CardHeader>
        <CardContent>
          <p>The Computer Club aims to help BHS students obtain a deeper understanding of topics in computer science. Meetings are typically short lectures followed by a hands-on activities. </p>
        </CardContent>
        <!-- <CardFooter>
<p>Card Footer</p>
</CardFooter> -->
      </Card>


      <Card>
        <CardHeader>
          <CardTitle>Competitions</CardTitle>
          <!-- <CardDescription>Card Description</CardDescription> -->
        </CardHeader>
        <CardContent>
          <p>Our club competes in two competitions - the <a href="https://www.acsl.org/"><u>American Computer Science League</u></a> and the <a href="http://www.usaco.org//"><u>USACO</u></a>. Club meetings often center around topics covered in these competitions.</p>
        </CardContent>
        <!-- <CardFooter>
<p>Card Footer</p>
</CardFooter> -->
      </Card>

      <Card>
        <CardHeader>
          <CardTitle>Presentations</CardTitle>
          <!-- <CardDescription>Card Description</CardDescription> -->
        </CardHeader>
        <CardContent>
          <p>Presentations are often given by senior members. Presentation topics include generative AI, GitHub basics, and potentially even functional programming.</p>
        </CardContent>
        <!-- <CardFooter>
<p>Card Footer</p>
</CardFooter> -->
      </Card>
    </div>


  </div>



  <div class="mt-20 flex flex-col items-center container">
    <h2>Latest Blog Post</h2>
    
    <div class="mt-4">
    <p>(View all blog posts <a href="/posts"><u>here.</u></a>)</p>
  </div>
    <div class="flex md:flex-row flex-col gap-2 mt-6 md:w-8/12  hover:scale-[101%] hover:shadow-lg transition-all bg-primary-foreground">
      <a transition:name={"post" + post.slug} href={"posts/"+post.slug}>
      <Card className="bg-primary-foreground">
        <CardHeader>
          <CardTitle>{post.data.title}</CardTitle>
          <!-- <CardDescription>Card Description</CardDescription> -->
        </CardHeader>
        <CardContent>
          <p><i>{getWordStr(post.body)}</i>...</p>
        </CardContent>
        <!-- <CardFooter>
<p>Card Footer</p>
</CardFooter> -->
      </Card>
    </a>
        <!-- <CardFooter>
<p>Card Footer</p>
</CardFooter> -->

    </div>


  </div>
  <br>



</MainPage>

