---
<<<<<<< Updated upstream
=======
interface Props {
  className: string
}

const {className} = Astro.props
>>>>>>> Stashed changes
---

<div class="shadow-2xl p-8 rounded-xl bg-white">
  <slot />
</div>
