---
import HeaderLink from "./HeaderLink.astro";
---
<header class="group h-32 bg-white rounded-b-3xl grid grid-cols-4 content-center gap-10 px-40 absolute top-0 right-0 left-0 shadow-2xl hover:h-40 transition-all">
  <h3 class="col-span-1 grid content-center font-bold w-fit"><a href="/">Barrington Computer Club</a></h3>

  <div class='grid grid-cols-3 gap-5 col-span-3 max-w-4xl'>
    <HeaderLink href='/collaborativeCSLearning'>Collaborative CS Learning</HeaderLink>
    <HeaderLink href='/presentationsAndPosts'>Presentations and Posts</HeaderLink>
    <HeaderLink href='/competitions'>Competitions</HeaderLink>
  </div>
</header>


<style>
body {
  margin-top: 8rem;
  padding-top: 0;
}
</style>

