---
interface Props {
  name: string,
  description: string,
  href: string,
}

const {name, description, href} = Astro.props
---



<div class="bg-white dark:bg-zinc-600 p-5 shadow-md rounded-lg group hover:!bg-sky-400 hover:shadow-2xl hover:scale-105 transition-transform">
  <a href={href}>
    <div class="flex gap-5 justify-start">
      <slot />

      <h3 class="my-auto font-bold group-hover:text-white">{name}</h3>
    </div>
    <p class="group-hover:text-white">{description}</p>
  </a>
</div>

