---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ThemeIcon from "../components/ThemeIcon";
import '../styles/global.css'

// TODO: Fix the view width
---


<html>

  <head>
    {/* Add an icon to the tab */}
    <meta charset="utf-8">
    <title>Barrington Computer Club</title>

    <script is:inline>
    // Loading dark mode on save
    const isDarkMode = localStorage.getItem('darkMode') === 'true';

    document.documentElement.classList.toggle('dark', isDarkMode);
    </script>

  </head>

  <Header />

  <ThemeIcon client:only />


  <slot />

  <Footer />
</html>
