---
import Header from "../components/header";

interface Props {
  title: string,
  transitions?: boolean,
  children: any
}
const {title, transitions} = Astro.props

import "cal-sans"
import '@fontsource/montserrat'
import "@/styles/globals.css";
import { ViewTransitions } from 'astro:transitions';
import { Analytics } from "@vercel/analytics/react"

const page = Astro.url.pathname.at(-1) === "/" ? Astro.url.pathname.slice(0, -1) : Astro.url.pathname
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/favicon.svg" />

    <title>{title}</title>
    {transitions !== false && <ViewTransitions />}

    <link rel="sitemap" href="/sitemap-index.xml" />

  </head>
  <body>


    <Header currentHref={page} client:load />

    <slot /> <!-- your content is injected here -->

    <Analytics client:load />

  </body>
</html>
